.section {
  margin-top: 7rem;
  padding-inline: 8rem;
}

.glow_container {
  position: relative;
  max-width: 60rem;
  margin-inline: auto;
}

.highlight {
  width: 95%;
  margin-block: 2rem;
  margin-inline: auto;
  padding: 1rem 1.5rem;
  border: solid 3px var(--background);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--background);
}

.highlight p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.side_circuit {
  max-height: 40rem;
}

.mobile_circuit {
  display: none;
  position: absolute;
  rotate: 90deg;
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  width: 90vw;
  max-width: 30rem;
  height: auto;
  z-index: -1;
}

@media (max-width: 900px) {
  .section {
    padding-inline: 1rem;
  }

  .buttonWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .side_circuit {
    display: none;
  }

  .mobile_circuit {
    display: block;
  }
}
