.section {
  margin-top: 200px;
  padding-inline: 25px;
}

.title {
  margin-bottom: 50px;
  padding-inline: 20px;
}

.container {
  position: relative;
  max-width: 900px;
  margin: auto;
  background-color: var(--main);
  border-radius: 5px;
  padding: 30px 40px;
}

.left,
.right {
  position: absolute;
  height: 550px;
  width: auto;
  top: 50%;
}

.left {
  left: 0;
  translate: calc(-100% + 1px) -50%;
}

.right {
  right: 0;
  translate: calc(100% - 1px) -50%;
  scale: -1 1;
}

.contactInfo {
  max-width: 900px;
  display: flex;
  justify-content: flex-start;
  color: var(--main);
  font-family: var(--vt323);
  font-size: 1.8rem;
  gap: 50px;
  margin-top: 30px;
  margin-inline: auto;
  text-shadow: 0 0 10px var(--main), 0 0 5px var(--main);
}

.contactInfo div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

@media (max-width: 600px) {
  .container {
    padding-inline: 15px;
  }

  .input_container {
    gap: 15px;
  }

  .contactInfo {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .section {
    margin-top: 150px;
  }

  .contactInfo div {
    flex-direction: column;
    align-items: flex-start;
  }
}
