.section {
  margin-top: 150px;
}

.swiper > div {
  transition-timing-function: linear;
}

.title {
  margin-bottom: 40px;
  padding-inline: 20px;
}

.icon {
  display: block;
  margin: auto;
}

.subtitle {
  color: var(--main);
  text-align: center;
  text-shadow: 0 0 10px var(--main), 0 0 5px var(--main);
}

@media (max-width: 800px) {
  .section {
    margin-top: 150px;
  }
}
