.section {
  margin-top: 150px;
}

.swiper_container {
  margin-top: 2rem;
  width: 100%;
}

.swiper_slide {
  max-width: 900px;
  width: 85%;
}

@media (max-width: 900px) {
  .section {
    margin-top: 320px;
  }
}
