.section {
  margin-top: 100px;
  padding-inline: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.double_modules_section {
  position: relative;
  gap: 220px;
  margin-top: 40px !important;
}

.graph_section {
  margin-top: 40px !important;
}

.glow_container {
  position: relative;
  max-width: 450px;
}

.container_title {
  font-family: var(--orbitron);
  color: var(--background);
  font-size: 2rem;
  margin-bottom: 15px;
}

.price_container {
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 15px;
  padding: 5px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  border: solid 3px var(--background);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--background);
}

.price_container > strong {
  font-family: var(--orbitron);
  color: var(--background);
  font-size: 2rem;
}

.price_container p {
  margin-bottom: 5px !important;
}

.separator {
  width: 100%;
  height: auto;
}

.checklist {
  list-style-type: none;
  margin-bottom: 40px;
  font-family: var(--vt323);
  font-size: 1.5rem;
}

.checklist > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checklist > li:not(:last-child) {
  margin-bottom: 15px;
}

.circuit {
  position: absolute;
  z-index: -1;
  height: 90%;
  max-height: 550px;
  width: auto;
  top: 50%;
  translate: 0 -50%;
}

.double_modules_section .side_circuit {
  display: none;
}

.mobile_circuit {
  display: none;
}

.side_circuit {
  max-height: 600px;
}

@media (max-width: 1000px) {
  .double_modules_section {
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }

  .circuit {
    display: none;
  }

  .side_circuit {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .section {
    margin-top: 120px !important;
  }

  .double_modules_section {
    margin-top: 40px !important;
    gap: 200px;
  }

  .eshop_section {
    margin-top: 200px !important;
  }

  .graph_section {
    margin-top: 40px !important;
  }

  .side_circuit {
    display: none !important;
  }

  .circuit {
    display: block;
    rotate: 90deg;
    max-width: 470px;
    width: 90%;
    height: auto;
  }

  .mobile_circuit {
    display: block;
    position: absolute;
    rotate: 90deg;
    top: 0;
    left: 50%;
    translate: -50% -80%;
    width: 98%;
    height: auto;
    z-index: -1;
  }
}
